a:link{text-decoration:none;}
a{color:#FFF;}
html{background-color:black;color:white;font-size:18px;
font-family:Segoe UI,Ubuntu,Arial;display:block;padding:0px;}
img{padding-top:10px;padding-bottom:10px;}
body{margin:0px;}
.button{padding:10px;color:white;background-color:#666;text-decoration:none;}
.button:hover{background-color:#999;}
.navbar{list-style:none;position:relative;z-index:10;
padding:0px;margin:0px;;width:100%;overflow:hidden}
.navbar li{float:left;display:block;padding:10px 16px 10px 16px;
background-color:#333;margin-left:2%;margin-top:2%;}
.navbar li a{text-decoration:none;color:white;}
.navbar li:hover{background:gray;}
.navbar::after{content: "";clear: both;display: table;}
.subbody{padding-left:5%;padding-right:5%;padding-bottom:4%;}
#current{background-color:#666;}
#current a{color:white;}
#logo{padding:0px;width:45px;height:45px;}
#miniatura{width:35%;height:35%;}
#rel{position:fixed;}
#testfeature{background-color:#FFF000;color:red;}